In [2]:
import pandas as pd
import requests
import numpy as np
from bs4 import BeautifulSoup

Спарсим данные о временах в квалификациях с сайта, с которого мы парсили погоду в гонках, информации про которые не было в википедии. На этом сайте информация про каждую гонку находится по ссылкам такого вида, причем в ссылках для каждой гонки вся разница заключается только в последнем числе. Таким образом, гонки достаточно легко перебираются.
https://f1-data.com/script/db/race/classify.php?race=1

Мы будем парсить информацию для всех гонок, потому что пропусков во временах квалификаций значительно больше, чем пропусков в колонке с погодой, поэтому можно просто перебрать все гонки, а не искать только те, в которых нет информации

In [38]:
all_links = []
numbers = []
times = []
race_newid = []
for i in range(1, 1085):
    all_links.append('http://f1-data.com/script/db/race/classify.php?race=' + str(i))
    html = all_links[-1]
    response = requests.get(url=all_links[-1])    
    soup = BeautifulSoup(response.content, 'html.parser')
    table = soup.find_all('table')
    names = soup.find_all('h2')
    quali_table = []
    for k in range(0, len(table)-1):
            if (str(names[k]).find('Qualify') != -1):
                    quali_table.append(table[k])
    tr = quali_table[0].find_all('tr')
    for j in range(1, len(tr)): #Будем перебирать каждого гонщика
        td = tr[j].find_all('td')
        driver_no = str(td[1]).split('>')[1].split('<')[0]
        driver_time = str(td[4]).split('>')[1].split('<')[0]
        numbers.append(driver_no) # список, в котором хранятся номера гонщиков (не driverId, a number, как в таблице quali)
        times.append(driver_time) # список, в котором хранятся времена квалификаций (мы брали их из итогового протокола квалификации, а не лучшее время по сегментов, чтобы не перебирать большое количество случаев)
        race_newid.append(i) # список, в котором хранятся newid гонок
        if i == 1 and j == 1:
            time_quali = pd.DataFrame({'raceNewid': race_newid, 'driverNumber': numbers, 'driverTime': times})
            
        else:
            time_quali.loc[len(time_quali.index)] = [i, driver_no, driver_time]

Посмотрим, что у нас получилось

In [39]:
time_quali.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25457 entries, 0 to 25456
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   raceNewid     25457 non-null  int64
 1   driverNumber  25457 non-null  object
 2   driverTime    25457 non-null  object
dtypes: int64(1), object(2)
memory usage: 795.5+ KB

На самом деле, в этой таблице есть пропуски, так как периодически гонщики могут не участвовать в квалификации, например, из-за того, что у них сломалась машина и команда не успевает починить ее до начала квалификации.

In [40]:
#Используем функции, написанные нами в основной части для того, чтобы перевести время в миллисекунлы
def millisec(x):
    if len(x) == 3:
        min_ = int(x[0]) * 60000
        sec_ = int(x[1]) * 1000
        millis_ = int(x[2])
        y = min_ + sec_ + millis_
    else:
        y = 0
    return y

timing = np.vectorize(millisec)

def separating(qual):
    time = np.array(time_quali[qual].fillna('no_time'))
    time = time.astype(str)
    time = np.char.replace(time, '.', ':')
    time = np.char.split(time, sep =':')
    time = timing(time)
    return(time)

In [41]:
time_quali['driverTimeMill'] = separating('driverTime')

Запишем эту таблицу в файл и сохраним его на github, чтобы потом на него ссылаться

Посмотрим теперь на количество пропусков (в таких строках driverTimeMill = 0)

In [45]:
time_quali.loc[time_quali['driverTimeMill'] == 0]

       raceNewid driverNumber driverTime  driverTimeMill
38             2            4                          0
40             2            8                          0
41             2           28                          0
43             3           28                          0
44             3           31                          0
...          ...          ...        ...             ...
24956       1059           22                          0
24976       1060           18                          0
24996       1061           23                          0
25016       1062           31                          0
25416       1082           11                          0

[1180 rows x 4 columns]

In [129]:
time_quali.loc[time_quali['raceNewid'] == 1083]

       raceNewid driverNumber driverTime  driverTimeMill
25368       1083                      11               0

In [31]:
time_quali = pd.read_csv('quali_time_full.csv')
time_quali

       Unnamed: 0  raceNewid  driverNumber driverTime  driverTimeMill
0               0          1             2   1:50.800          110800
1               1          1             3   1:51.000          111000
2               2          1             1   1:51.000          111000
3               3          1             4   1:52.200          112200
4               4          1            21   1:52.600          112600
...           ...        ...           ...        ...             ...
25452       25452       1084             4   1:28.394           88394
25453       25453       1084            22   1:28.429           88429
25454       25454       1084            18   1:28.476           88476
25455       25455       1084            81   1:28.484           88484
25456       25456       1084             2   1:28.577           88577

[25457 rows x 5 columns]

In [127]:
a = list(time_quali['raceNewid'].unique())

In [128]:
a

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 ...]

In [56]:
quali = pd.read_csv('https://raw.githubusercontent.com/pavleke/project-formula-1/main/qualifying.csv')
races = pd.read_csv('https://raw.githubusercontent.com/pavleke/project-formula-1/main/races.csv')
result = pd.read_csv('https://raw.githubusercontent.com/pavleke/project-formula-1/main/results.csv')

In [20]:
new = races.sort_values(by='date')
new['newid'] = np.arange(1, len(new)+1)
new = new[['raceId', 'newid']]

In [57]:
result

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25835,25841,1096,854,210,47,12,16,16,16,0.0,57,\N,\N,39,12,1:29.833,211.632,11
25836,25842,1096,825,210,20,16,17,17,17,0.0,57,\N,\N,40,20,1:31.158,208.556,11
25837,25843,1096,1,131,44,5,18,18,18,0.0,55,\N,\N,42,11,1:29.788,211.738,9
25838,25844,1096,849,3,6,20,19,19,19,0.0,55,\N,\N,45,14,1:30.309,210.517,130
25839,25845,1096,4,214,14,10,\N,R,20,0.0,27,\N,\N,24,17,1:30.579,209.889,47

In [61]:
result = result.merge(new, how='left', on='raceId')

In [63]:
result.rename(columns={"newid": "raceNewid", "number": "driverNumber"}, inplace=True)

In [62]:
result

,resultId,raceId,driverId,constructorId,driverNumber,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,newid
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1,786
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1,786
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1,786
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1,786
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1,786
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25835,25841,1096,854,210,47,12,16,16,16,0.0,57,\N,\N,39,12,1:29.833,211.632,11,1079
25836,25842,1096,825,210,20,16,17,17,17,0.0,57,\N,\N,40,20,1:31.158,208.556,11,1079
25837,25843,1096,1,131,44,5,18,18,18,0.0,55,\N,\N,42,11,1:29.788,211.738,9,1079
25838,25844,1096,849,3,6,20,19,19,19,0.0,55,\N,\N,45,14,1:30.309,210.517,130,1079
25839,25845,1096,4,214,14,10,\N,R,20,0.0,27,\N,\N,24,17,1:30.579,209.889,47,1079

In [95]:
result.reset_index(inplace=True)

In [96]:
result

,raceNewid,driverNumber,resultId,raceId,driverId,constructorId,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,786,22,1,18,1,1,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,786,3,2,18,2,2,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,786,7,3,18,3,3,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,786,5,4,18,4,4,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,786,23,5,18,5,1,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25835,1079,47,25841,1096,854,210,12,16,16,16,0.0,57,\N,\N,39,12,1:29.833,211.632,11
25836,1079,20,25842,1096,825,210,16,17,17,17,0.0,57,\N,\N,40,20,1:31.158,208.556,11
25837,1079,44,25843,1096,1,131,5,18,18,18,0.0,55,\N,\N,42,11,1:29.788,211.738,9
25838,1079,6,25844,1096,849,3,20,19,19,19,0.0,55,\N,\N,45,14,1:30.309,210.517,130
25839,1079,14,25845,1096,4,214,10,\N,R,20,0.0,27,\N,\N,24,17,1:30.579,209.889,47

In [97]:
time_quali.reset_index(inplace=True)

In [115]:
result["driverNumber"].replace('\\N', 0, inplace=True)
result["driverNumber"] = result['driverNumber'].astype('int')

In [116]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25840 entries, 0 to 25839
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   raceNewid        25840 non-null  int64
 1   driverNumber     25840 non-null  int32
 2   resultId         25840 non-null  int64
 3   raceId           25840 non-null  int64
 4   driverId         25840 non-null  int64
 5   constructorId    25840 non-null  int64
 6   grid             25840 non-null  int64
 7   position         25840 non-null  object
 8   positionText     25840 non-null  object
 9   positionOrder    25840 non-null  int64
 10  points           25840 non-null  float64
 11  laps             25840 non-null  int64
 12  time             25840 non-null  object
 13  milliseconds     25840 non-null  object
 14  fastestLap       25840 non-null  object
 15  rank             25840 non-null  object
 16  fastestLapTime   25840 non-null  object
 17  fastestLapSpeed  25840 non-null  object
 18  statusId         25840 non-null  int64
dtypes: float64(1), int32(1), int64(9), object(8)
memory usage: 3.6+ MB

In [118]:
merged = result.merge(time_quali, how='outer', on=['raceNewid', 'driverNumber'])

In [129]:
merged

,raceNewid,driverNumber,resultId,raceId,driverId,constructorId,grid,position,positionText,positionOrder,...,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,Unnamed: 0,driverTime,driverTimeMill
0,786,22,1.0,18.0,1.0,1.0,1.0,1,1,1.0,...,1:34:50.616,5690616,39,2,1:27.452,218.300,1.0,19139.0,1:26.572,86572.0
1,786,3,2.0,18.0,2.0,2.0,5.0,2,2,2.0,...,+5.478,5696094,41,3,1:27.739,217.586,1.0,19131.0,1:25.960,85960.0
2,786,7,3.0,18.0,3.0,3.0,7.0,3,3,3.0,...,+8.163,5698779,41,5,1:28.090,216.719,1.0,19135.0,1:26.295,86295.0
3,786,5,4.0,18.0,4.0,4.0,11.0,4,4,4.0,...,+17.181,5707797,58,7,1:28.603,215.464,1.0,19143.0,1:26.907,86907.0
4,786,23,5.0,18.0,5.0,1.0,3.0,5,5,5.0,...,+18.014,5708630,43,1,1:27.418,218.385,1.0,19130.0,1:25.664,85664.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26125,1084,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25452.0,1:28.394,88394.0
26126,1084,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25453.0,1:28.429,88429.0
26127,1084,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25454.0,1:28.476,88476.0
26128,1084,81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25455.0,1:28.484,88484.0
26129,1084,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25456.0,1:28.577,88577.0

In [134]:
quali_full = merged[['raceNewid', 'driverNumber', 'resultId', 'raceId', 'driverId', 'driverTime', 'driverTimeMill']]

In [135]:
quali_full.to_csv('quali_full.csv')